/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
}

/*PALETTE*/
:root {

    --dark-green: #019689;
    --light-green: #d7f9bc;
    --dark-gray: #989798;
    --gray: #ebe9eb;
    --blue:#8edafd;
}

/*Layout*/
.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif
}

.container {
    margin: 0 auto;
    max-width: 1600px;
    position: relative;
    top: -100px; 
    display: flex;
    height: 100%;
}

/*CONTENITORI DI BACKGROUND*/

.page-header {
    height: 150px;
    background-color: var(--dark-green);
}

.page-content {
    flex-grow: 1;
    background-color: var(--dark-gray);
}

/*MAIN AREA*/

.main-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.chat-area {
    flex-grow: 1;
}

.area-header {
    height: 80px; 
    background-color: var(--gray);
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.input-bar {
    height: 40px;
}

.name {
    flex-grow: 1;
    font-size: 25px;
}

.icon-wrap {
    font-size: 30px;
    color: var(--dark-gray);
    display: flex;
    gap: 20px;
}

/*CONTACT*/
.contact-area {
    width: 600px;
    display: flex;
    flex-direction: column;
    background-color: var(--gray);
    border-right: 3px solid rgba(109, 107, 107, 0.6);
}

.contacts {
    flex-grow: 1;
    background-color: white;
    overflow: auto;
}

.avatar-wrap {
    padding: 8px;
}

.avatar {
    width: 70px;
    border-radius: 999px;
}

.notifications {
    padding: 5px;
    background-color: var(--blue);
    display: flex;
}


.icon-blue {
    color: var(--blue);
    font-size: 30px;
    background-color: white;
    border-radius: 999px;
    padding: 20px;
}

.text-wrap {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.search {
    padding: 10px;
    background-color: white;
    display: flex;
    border-bottom: 1px solid var(--dark-gray);
}

.lens {
    width: 90px;
    display: flex;
    gap: 5px; 
    justify-content: center ;
}

.input {
    flex-grow: 1;
    border: none;
}

.contact {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
    border-bottom: 1px solid var(--dark-gray);
}

.name-wrap {
    flex-grow: 1; 
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.date-wrap {
    margin-right: 10px
}

/*CHAT*/

.chat-area {
    background-image: url(../img/mine.jpg);
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 80px;
}

.input-bar {
    background-color: white;
    padding: 10px;
    display: flex;
    min-height: 70px;
    align-items: center;
}

.container-fluid {
    display: flex;
    max-width: 100%;
    margin: 0 auto; 
    justify-content: flex-end;
}

.message {
    padding: 10px;
    border-radius: 20px;
    font-size: 25px;
    background-color: var(--light-green);
}

.rec-wrap {
    justify-content: flex-start;
}

.rec-msg {
    background-color: white;
}

.input {
    background-color: var(--gray);
    border-radius: 20px;
    font-size: 20px;
    line-height: 3px;
    padding: 10px 15px;
}

/*Utility classes*/
.underlined {
    text-decoration: underline;
}

.active {
    background-color: var(--gray);
}


/*DEBUG*/

.debug .page-header {
    background-color: aquamarine;
}

.debug .page-content {
    background-color: bisque;
}

.debug .container {
    background-color: blueviolet;
    height: 900px;
}

.debug .content-header {
    background-color: blue;
}

.debug .main-area {
    background-color: azure;
}

.debug .area-header{
    background-color: red;
    border: 1px solid black;
}

.debug .notifications {
    height: 50px;
    background-color: olive;
}

.debug .search {
    height: 70px;
    background-color: brown;
}

.debug .contacts {
    background-color: orange;
}

.debug .chat-area {
    background-color: darkmagenta;
}

.debug .input-bar {
    background-color: white;
}