/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
}

/*Layout*/
.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    max-width: 1600px;
    position: relative;
    top: -70px; 
    display: flex;
}

/*CONTENITORI DI BACKGROUND*/

.page-header {
    height: 100px;
}

.page-content {
    flex-grow: 1;
}

/*MAIN AREA*/

.main-area {
    flex-grow: 1;
}

.area-header {
    height: 60px; 
    border: 1px solid black;
}

/*CONTACT*/
.contact-area {
    width: 600px;
}

/*CHAT*/


/*DEBUG*/

.debug .page-header {
    background-color: aquamarine;
}

.debug .page-content {
    background-color: bisque;
}

.debug .container {
    background-color: blueviolet;
    height: 900px;
}

.debug .content-header {
    background-color: blue;
}

.debug .main-area {
    background-color: azure;
}

.debug .area-header{
    background-color: red;
}