<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <script src="https://kit.fontawesome.com/a095a4bfbe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body class="body debu" >
    <main class="page-content" id="app">
        <div class="container">
            <aside class="contact-area">
                <div class="area-header">
                    <div class="avatar-wrap">
                        <img class="avatar" src="./img/avatar_io.jpg">
                    </div>
                    <div class="name">
                        <p>Sofia</p>
                    </div>
                    <div class="icon-wrap">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="notifications">
                    <div class="avatar-wrap">
                        <div class="icon-blue">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                    </div>
                    <div class="text-wrap">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <p class="underlined">Attiva notifiche desktop</p>
                    </div>
                </div>
                <div class="search">
                    <div class="icon-wrap lens">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <input class="input" type="text" v-model="searchValue" @keyup="checkNames" placeholder="Cerca o inizia una nuova chat">
                </div>
                <ul class="contacts">
                    <li v-for="(contact, index) in contacts" :key="index"  @click="doActive(index)" :class="currentIndex ===index? 'active' : '' ">
                        <div class="contact" v-if="contact.visible===true">
                            <div class="avatar-wrap">
                                <img class="avatar" :src="contact.avatar">
                            </div>
                            <div class="name-wrap">
                                <p class="name">{{contact.name}}</p>
                                <p v-if="contact.messages.length > 0">{{contact.messages[contact.messages.length-1].message}}</p>
                                <p v-else>Non hai ancora avviato una conversazione</p>
                            </div>
                            <div v-if="contact.messages.length > 0" class="date-wrap">
                                <p class="date"> {{contact.messages[contact.messages.length-1].date}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </aside>
            <div class="main-area">
                <div class="area-header">
                    <div class="avatar-wrap">
                        <img class="avatar" :src="contacts[currentIndex].avatar">
                    </div>
                    <div class="name">
                        <p>{{contacts[currentIndex].name}}</p>
                    </div>
                    <div class="icon-wrap">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="chat-area">
                    <div class="container-fluid" v-for="(message,index) in contacts[currentIndex].messages" :class="message.status==='received'? 'rec-wrap' : ''">
                        <div class="message" :class="message.status==='received'? 'rec-msg' : '' " >
                            <div @mouseleave="show=false">
                                <p>{{message.message}}</p>
                                <p class="date date-stamp">{{message.date}}</p>
                            </div>
                            <div class="btn-drop" name="options" @click="toggleOptions(index)">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <div v-show="show===true && index===currentMessage" id="select" class='select' @mouseleave="this.show=false">
                                <div class="option">Informazioni</div>
                                <div class="option" @click="deleteMessage(index)">Elimina</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-bar">
                    <div class="icon-wrap lens">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                    <input class="input" type="text" placeholder="Scrivi messaggio" v-model="inputValue" @keyup.enter="sendMessage()" >
                        <div class="icon-wrap lens">
                        <i class="fa-solid fa-microphone"></i>
                        </div>
                </div>
            </div>
        </div>
    </main>
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/app.js"></script>
</body>
</html>